extends layout

block content-inner
  div.col-xs-8
    form(method='post', role='form')
      fieldset
        legend Create new customer
        div.row
          div.form-group.col-xs-8
            label.control-label(for='company') Company
            input.form-control#company(name='company', type='text',
              placeholder='Your company name (optional)', required=false)
        div.row
          div.form-group.col-xs-6
            label.control-label(for='forename') Forename
            input.form-control#forename(name='forename', type='text',
              placeholder='Bodo', required=true)
          div.form-group.col-xs-6
            label.control-label(for='surname') Surname
            input.form-control#surname(name='surname', type='text',
              placeholder='Kaiser', required=true)
        div.row
          div.form-group.col-xs-12
            label.control-label(for='email') Email
            input.form-control#email(name='email', type='email',
              placeholder='i@bodokaiser.io', required=true)
        div.row
          div.form-group.col-xs-10
            label.control-label(for='street') Street
            input.form-control#street(name='street', type='text',
              placeholder='Geiserichstraße', required=true)
          div.form-group.col-xs-2
            label.control-label(for='street_nr') Street Nr
            input.form-control#street_nr(name='street_nr', type='text',
              placeholder='3', required=true)
        div.row
          div.form-group.col-xs-6
            label.control-label(for='zip') Zip
            input.form-control#zip(name='zip', type='number',
              placeholder='12105', min='10000', max='99999', required=true)
          div.form-group.col-xs-6
            label.control-label(for='place') Place
            input.form-control#place(name='place', type='text',
              placeholder='Berlin', required=true)
        button.btn.btn-primary Submit
