tr
  td= customer.id
  td!= customer.company || '<em>no company</em>'
  td= customer.surname
  td= customer.forename
  td= customer.email
  td= customer.street
  td= customer.street_nr
  td= customer.zip
  td= customer.place
