table.table.table-striped.table-hover
  thead
    tr
      th ID
      th Company
      th Surname
      th Forename
      th Email
      th Street
      th Street Nr
      th Zip
      th Place
  tbody
    if customers
      for customer in customers
        tr
          td= customer.id
          td!= customer.company || '<em>no company</em>'
          td= customer.surname
          td= customer.forename
          td= customer.email
          td= customer.street
          td= customer.street_nr
          td= customer.zip
          td= customer.place
    else
      tr
        td no items
